nav{
    width: 100vw;
    background: #0000007a;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1.5% 0;
}

li:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: white;
}
