<nav>
    <ul class="">
        <li class="nav-item">
            <a class="nav-link" href="#">Collection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Coffre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Personnage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/armor">Armures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Builder</a>
        </li>
    </ul>
</nav>